.item {
    padding: 0.5rem 0;
    background-color: $primary;
    border-radius: 1rem;
    padding: 1rem;

    &__title {
        color: $white;
        flex: 1;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 600;
        margin-bottom: 0.25rem;
    }

    &__company {
        color: rgba($white, 0.75);
        flex: 1;
        font-size: 0.875rem;
        line-height: 1.125rem;
        font-weight: 400;
        font-style: italic;
        display: flex;
    }

    &--active {
        background-color: $white;

        &__title {
            color: $primary;
        }

        &__company {
            color: $primary;
        }
    }
}
