$utilities: (
    "margin-bottom": (
        property: margin-bottom,
        class: mb,
        values:
            map-merge(
                $spacers,
                (
                    auto: auto,
                )
            ),
    ),
    "margin-right": (
        property: margin-right,
        class: mr,
        values:
            map-merge(
                $spacers,
                (
                    auto: auto,
                )
            ),
    ),
    "position": (
        property: position,
        values: static relative absolute,
    ),
);

@each $key, $utility in $utilities {
    @include generate-utility($utility);
}
